rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isTeacher() {
      return request.auth != null
        && (
          firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == "teacher"
          || firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == "Teacher"
          || firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == "admin"
          || firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == "Admin"
        );
    }

    match /topic_documents/{topicId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isTeacher();
    }

    match /media/videos/{topicId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isTeacher();
    }

    match /media/audio/{topicId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isTeacher();
    }
  }
}
